.main-nav {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  .font-bold;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      order: 2;
    }

    &:last-of-type {
      order: 1;
      margin-left: 210px;

      .main-nav__item:first-of-type {
        margin-top: 2px;
      }

      .main-nav__item:last-of-type {
        margin-top: 2px;
        margin-left: 13px;
      }
    }
  }
}

.main-nav__list {
  .reset-list;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__item {
  height: 79px;
}

.main-nav__link {
  position: relative;
  display: block;
  padding: 29px 0 27px 76px;
  border-top: 1px solid @very-light-gray;

  &:hover .main-nav__text {
    opacity: 0.6;
  }

  &:hover .main-nav__cart,
  &:hover .main-nav__loop {
    color: @moderate-cyan;
    fill: @moderate-cyan;
  }

  &:focus .main-nav__text,
  &:focus .main-nav__cart,
  &:focus .main-nav__loop {
    opacity: 0.3;
  }
}

.main-nav__list--second-part .main-nav__item:last-child .main-nav__link {
  border-bottom: 1px solid @very-light-gray;
}

.main-nav__link--loop .main-nav__text {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__cart,
.main-nav__loop {
  position: absolute;
  top: 32px;
  left: 32px;
  color: @light-gray;
  fill: @light-gray;
}

@media (min-width: @tablet-width) {
  .main-nav__cart {
    left: 25px;
  }
}
