//Обнуление стиля списка
.reset-list() {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

//Шрифты
.font-normal() {
  font-family: "Open Sans", "Arial", sans-serif;
}

.font-bold() {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
}

//Контейнеры
.wrapper-mobile {
  padding: 0 30px;
  min-width: 260px;
}
