//Colors
@black: #000;
@white: #fff;
@light-gray: #cccccc;
@very-light-gray: #ececec;
@very-light-gray-shade: #f1f1f1;
@very-light-gray-shade-1: #e5e5e5;
@very-dark-gray: #444444;
@moderate-cyan: #63d1bb;
@moderate-cyan-shade:#56c3b2;
@moderate-cyan-shade-1:#62d1ba;
@moderate-cyan-shade-2:#46c1ae;

//Viewport width
@tablet-width: 768px;
@desktop-width: 1440px;

//Img path
@images: "../../img";
